// app global css in SCSS form

@font-face {
  font-family: NothingYouCouldDo;
  src: url(./fonts/NothingYouCouldDo-Regular.ttf);
}

.font-NothingYouCouldDo {
  font-family: 'NothingYouCouldDo';
}

p {
  margin: 0 0 0px;
}

.rounded-borders {
  border-radius: 15px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24);
}
